* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
  font-family: $primary-font;
  font-size: $font-size-base;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

form {
  width: 100%;
}

img {
  image-orientation: from-image;
}

button {
  &.btn {
    display: inline-block;
    font-weight: 400;
    color: $black;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid $medium-grey;
    padding: $spacing-1 $spacing-2;
    font-size: 1em;
    line-height: 1.5;
    border-radius: .25rem;
    transition: all 0.2s ease-in;

    &-sm {
      line-height: 1;
    }

    &:hover {
      background-color: $light-grey;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px $medium-grey;
    }
  }
}

#root, .parent {
  width: 100vw;
  height: 100vh;
  display: block;
  overflow: hidden;
}

#theMap, #map {
  position: absolute;
  display: block;
  width:100vw;
  height:100vh;
}

#legend {
  background: #fff;
  position: absolute;
}

.parent{
  width: 100%;
  overflow: hidden;
}

.tglview{
  display: block;
  position: relative;
  padding: 0;
  float: right;
  margin: $spacing-2;
  background-color: white;
  border: 1px #efefef solid;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.20);
}

#geoImg{
  width: 1.2em;
  height: 1.2em;
}

#geolocate{
  line-height: 1em;
  padding: 0.3em;
}

.beta-banner {
  position: absolute;
  z-index: 3;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 150px 0 0;
  border-color: #004B84 transparent transparent transparent;
}

.beta-banner-mobile {
  display: block;
  width: 100%;
  height: auto;
  background: #004B84;
  color: #fff;
  text-align: center;
  padding: 0.5em;
}

.banner-wrapper {
  height: auto;
  width: auto;
  display: block;
}

.beta-text{
  color: white;
  position: absolute;
  display: inline;
  transform: translate(20px, -120px) rotate(-45deg);
  top: 0%;
}

#nav {
  position: absolute;
  z-index: 1;
  width: 30vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $spacing-2;
  background: white;
  border: 1px #efefef solid;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.20);
}

.logo-header {
  padding: $spacing-5;
}

header {
  padding-top: $spacing-2;
  padding-bottom: $spacing-2;
  text-align: center;

  img {
    margin: auto;
    width: 15vw;
  }
  .program-name {
    text-align: center;
    font-size: 1.4em;
    color: #004B84;
    font-weight: bold;
  }
}

h3.tileArtist {
  font-size: 1.1em;
}
h3.detailArtist {
  font-size: 1.4em;
}

.drp {
  margin: 0 auto;
  margin-top: $spacing-1;
  margin-bottom: $spacing-2;
  width: 100%;
}

.filter-wrap {
  margin: 0 auto;
  width: 100%;
  display: block;
  padding: 0 $spacing-5;
  overflow: visible;
}

#list-wrap {
  display: flex;
  flex-direction: column;
  margin-top: $spacing-2;
  height: auto;
  box-sizing: border-box;
  overflow: auto;
  padding: 0 $spacing-5;
}

#filterMap {
  margin: 0 auto;
}

h5.detailAddress, h5.detailYear {
  font-weight: normal;
}

.nav-wrap{
  overflow: scroll;
  margin-bottom: $spacing-2;
  width: 100%;
  height: 100%;
}


#list{
  margin-bottom: $spacing-2;
  margin: auto;
  overflow: hidden;
}

.lv-tile {
  display: flex;
  padding: $spacing-1;
  border: 1px gray solid;
  margin: $spacing-1 auto;
  border-radius: $spacing-1;
  border-color: hsl(0,0%,80%);
  background-color: hsl(0,0%,98%);
  cursor: pointer;
}

a.lv-tile {
  color: black;
}

a.lv-tile:hover {
  text-decoration: none;
  color:#004B84;
}
.lv-tile-pic{
  width: 35%;
  height: auto;
  display: inline-block;
  margin: $spacing-1;
}
.list-img{
  width: 100%;
  height:auto;
  overflow: hidden;
  display: block;
}
.lv-tile-txt {
  display: inline-block;
  max-width: 50%;
  margin-left: $spacing-2;
  margin-top: $spacing-1;

}
.artistName{
  font-size: 1.1em;
  font-weight: bold;
  text-overflow: ellipsis;
}
#listSum {
  text-align: right;
}
.BackToListView{
  padding-bottom: 0;
  margin-top: $spacing-2;
  text-align: center;
}
#back{
  margin: auto;
}
.detailView{
  display: block;
  width: 100%;
  height: auto;
  margin: $spacing-2 auto;
  overflow: scroll;
}

table {
  width: 100%;

  th, td {
    line-height: 1.2;
    padding-bottom: $spacing-1;
    padding-top: $spacing-1;
  }

  th {
    padding-right: $spacing-1;
    text-align: left;
  }

  tr {
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }
}
#detailText{
  width: 80%;
  margin: $spacing-5 auto;
}
.detail-txt{
  height: 100%;
}
.detailImg{
  width: 100%;
  height: auto;
}
.detailName {
  font-size: 1.2em;
  font-weight: bold;
}
#MobileMapPopUp{
  display: none;
}
#sortBy {
  text-align: center;
  font-size: 0.85em;
  width: 100%;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-2;

  .brand {
    display: flex;
    align-items: baseline;
    margin-left: $spacing-2;
    margin-right: $spacing-2;

    img {
      width: 68px;
      margin: 0;
      margin-right: $spacing-1;
    }

    .program-name {
      font-size: 1em;
      font-weight: bold;
    }
  }

  .nav-items {
    .btn {
      margin-left: $spacing-1;
    }
  }
}

