.switch-container {
  display: flex;
  padding-top: 4px;
}


.switch-container label {
  margin-left: 10px;
  margin-right: 10px;
}

.switch-container span {
  cursor: pointer;
}

.switch-container input[type="checkbox"].switch {
  position: absolute;
  opacity: 0;
}

.switch-container input[type="checkbox"].switch + div.switch-background {
  vertical-align: middle;
  width: 46px;
  height: 24px;
  border-radius: 999px;
  background-color: #004B84;
  cursor: pointer;
  transition-timing-function: cubic-bezier(1,0,0,1);
  transition-duration: 0.4s;
  transition-property: all;
}

.switch-container input[type="checkbox"].switch + div.switch-background > div.switch-button {
  float: left;
  width: 22px;
  height: 22px;
  border-radius: inherit;
  background: #ffffff;
  transition-timing-function: cubic-bezier(1,0,0,1);
  transition-duration: 0.4s;
  transition-property: transform;
  pointer-events: none;
  margin-top: 1px;
  margin-left: 1px;
}

.switch-container input[type="checkbox"].switch:checked + div.switch-background {
  background-position: 0 0;
}

.switch-container input[type="checkbox"].switch:checked + div.switch-background > div.switch-button {
  transform: translate3d(22px, 0, 0);
}

.switch-container input[type="checkbox"].switch:focus + div.switch-background {
  box-shadow: 0 0 0 2px #007bff;
}
