html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  font-family: 'Source Sans Pro', sans-serif;
	vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
#root, .parent {
  width: 100vw;
  height:100vh;
  display: block;
  overflow: hidden;
}
#theMap, #map {
  position: absolute;
  display: block;
  width:100vw;
  height:100vh;
}
#legend {
  background: #fff;
  position: absolute;
}
/* .parent{
  width: 100%;
  overflow: hidden;
} */
.tglview{
  display: block;
  position: relative;
  padding: 0;
  float: right;
  margin: 1em;
  background-color: white;
  border: 1px #efefef solid;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.20);
}
#geoImg{
  width: 1.2em;
  height: 1.2em;
}
#geolocate{
  line-height: 1em;
  padding: 0.3em;
}
.beta-banner {
  position: absolute;
  z-index: 3;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 150px 0 0;
  border-color: #004B84 transparent transparent transparent;
}
.beta-banner-mobile {
  display: block;
  width: 100%;
  height: auto;
  background: #004B84;
  color: #fff;
  text-align: center;
  padding: 0.5em;
}
.banner-wrapper {
  height: auto;
  width: auto;
  display: block;
}
.beta-text{
  color: white;
  position: absolute;
  display: inline;
  transform: translate(20px, -120px) rotate(-45deg);
  top: 0%;
}
#nav {
  position: absolute;
  width: 30vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
  margin: 1em;
  background: white;
  border: 1px #efefef solid;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.20);
}
img {
  image-orientation: from-image;
}
.logo {
  width: 15vw;
  margin-top: .7em;
}
div.logo{
  margin-bottom: 1em;
}
h3.logo  {
  text-align: center;
  font-size: 1.4em;
  margin: auto;
  color: #004B84;
}
.drp {
  margin: 0 auto;
  margin-top: 0.2em;
  margin-bottom: 1em;
  width: 90%;
}
.sortDrp {
  width: 50%;
  margin: 0 auto;
  font-size: 0.85em;
}
.filter-wrap{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: block;
  padding: 0 2em;
  overflow: visible;
}
#filterMap{
  margin: 0 auto;
}
.filterButton{
  margin-top: 1em;
  background-color: #cbd3e6;
}

h5.detailAddress, h5.detailYear {
  font-weight: normal;
}
.nav-wrap{
  overflow: scroll;
  margin-bottom: 1em;
  width: 100%;
  height: 100%;
}
.list-wrap{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  height: auto;
  box-sizing: border-box;
  overflow: auto;
  margin: .5em;
}
#list{
  margin-bottom: 1em;
  margin: auto;
  overflow: hidden;
}
.lv-tile {
  display: flex;
  width: 90%;
  padding: .2em;
  border: 1px gray solid;
  margin: .5em auto;
  border-radius: 5px;
  border-color: hsl(0,0%,80%);
  background-color: hsl(0,0%,98%);
  cursor: pointer;
}
a.lv-tile {
  color: black;
}
a.lv-tile:hover {
  text-decoration: none;
  color:#004B84; 
}
.lv-tile-pic{
  width: 35%;
  height: auto;
  display: inline-block;
  margin:.5em;
}
.list-img{
  width: 100%;
  height:auto;
  overflow: hidden;
  display: block;
}
.lv-tile-txt {
  display: inline-block;
  max-width: 50%;
  margin-left: 1em;
  margin-top: .5em;

}
.artistName{
  font-size: 1.1em;
  font-weight: bold;
  text-overflow: ellipsis;
}
#listSum {
  text-align: center;
  margin-top: 1em;
}
.BackToListView{
  margin: 1em auto;
  padding: 1em 0;
  padding-bottom: 0;
  text-align: center;
}
#back{
  margin: auto;
}
.detailView{
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 1em auto;
  overflow: scroll;
}
#detailText{
  width: 80%;
  margin: auto;
  margin-top: 2em;
}

.detailSlideshow{
  width: 100%;
  height: fit-content;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}
.detailSlideshow .slick-prev {
  left: 5px !important;
  z-index: 2;
}
.detailSlideshow .slick-next {
  right: 5px !important;
}
.detailSlideshow img {
  max-height: 60vh;
  max-width: 100%;
  margin: auto;
}
.detail-txt{
  height: 100%;
}
.detailImg{
  width: 100%;
  height: auto;
}
.detailName {
  font-size: 1.2em;
  font-weight: bold;
}
#MobileMapPopUp{
  display: none;
}
.splash-background{
  display: block;
  position: absolute;
  background: rgba(57, 57, 57, 0.85);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.splash{
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #004B84;
  color: white;
  width: 85vw;
  height: 85vh;
  margin: auto;
  z-index: 3;
  text-align: center;
  transform: translate(7vw, 7vh);
  overflow: hidden;
}
.splash-mobile {
  position: relative;
  top: 20%;
  margin: auto;
  background: #004B84;
  color: white;
  width: 95%;
  height: auto;
  z-index: 3;
  text-align: center;
  overflow: hidden;
  padding: 4em;
}
.splash-mobile .splash-button-wrap {
  margin-top: 3.5em;
}
.slick-slide {
  width: 80%;
}
.splash-mobile h1 {
  font-size: 1.5rem;
}
.splash-mobile h3 {
  font-size: 1rem;
}
.splash-mobile h6 {
  font-size: 0.8rem;
}
.splash-mobile .splash-head {
  max-width: 100%;
  margin-bottom: 1em;
}
.splash-mobile .close {
  color: #fff;
  text-shadow: #000;
  opacity: 1;
  position: absolute;
  right: 0%;
}

.splash-mobile .close {
  position: absolute;
  top: 5px;
  right: 5px;
}
.splash-head{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
}
.splash-body{
  flex: 3;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1em;
}
.splash-button-wrap{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#sortBy {
  text-align: center;
  font-size: 0.85em;
}


@media only screen and (max-width : 1024px) {
  #root, .parent {
    width: 100vw;
    height:100%;
    position: absolute;
    display: block;
    font-size: 1em;
  }

  #theMap, #map {
    position: absolute;
    display: block;
    width:100%;
    height:100%;
  }
  #navButton{
    display: block;
  }
  .tglview .btn {
    padding: 0.2rem 0.5rem;
  }
  #MobileMapPopUp{
    position: absolute;
    display: flex;
    align-items: center;
    width: 97%;
    height: auto;
    max-height: 30vh;
    bottom: 0;
    margin: 1.5em;
    background-color: white;
    border: 1px #efefef solid;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.20);
  }
  #nav{
    display: none;
  }
  #detailView{
    display: block;
  }
  .popup-pic{
    width: 30%;
    max-width: 300px;
    height:auto;
    max-height: 25vh;
    overflow: hidden;
    display: inline-block;
    margin:.5em;
  }
  .popup-txt {
    display: inline-block;
    height: 100%;
    margin-left: 2em;
  }
  .detailMob{
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
    margin-bottom: 2em;
  }
  .detailMob #detailText{
    margin-bottom: 4em;
    margin-top: 4em;
  }
  .detailMob .BackToListView #back {
    font-size: 1.7em;
    margin: auto;
  }
  .filter-wrap .BackToListView{
    padding: 1em;
    margin: 1em auto;
    width: auto;
  }

  .filter-wrap{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 2em;
  }
  #filter{
    display: block;
    position: relative;
    float: right;
  }
  .logo-wrap{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: .5em;
    align-items: center;
    text-align: center;
    border-radius: 5%;
    padding: .5em;
    width: 25vw;
    height: auto;
  }
  .logo{
    padding: 0;
    margin: 0;
    height: 3em;
  }
  h3.logo {
    font: 1.2em sans-serif;
    color: #004B84;
  }
  #tglImg{
    width: 1.5em;
    height: 1.5em;
    margin: auto;
    padding: 0;
  }
  #list-wrap{
    display: none;
    width: 100vw;
    height: 85%;
    position: relative;
    background-color: white;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  #list-wrap-mobile {
    display: block;
    background: #fff;
    width: 100vw;
    height: 85%;
    position: absolute;
    padding: 1.5em;
    overflow: hidden;
    bottom: 0;
  }
  #listSum {
    text-align: center;
  }
  #list{
    height: 100%;
    top: 0;
    display: block;
    margin: auto;
    overflow: auto;
  }
  .drp{
    font-size: 2.5em;
    width: 70%;
  }
  #mapview, #listview{
    line-height: 0em;
  }
  .splash p  {
    font-size:1em;
  }
  
  .splash {
    height: 95%;
    width: 90vw;
    transform: translate(5vw, 2vh);
    overflow: scroll;
  }

  .splash .btn {
    font-size: 1em;
  }
  .splash-btn {
    height: auto;
    margin: auto;
  }
  .btn{
    font-size: 2em;
  }
  .detailMob .btn{
    font-size: 2em;
    padding: .5em;
    margin: auto;
  }
  .logo-wrap-detail-mobile .logo {
    width: 30vw;
    height: auto;
    margin: auto;
  }
  .logo-wrap-detail-mobile h3.logo {
    font-size: 2em;
  }
  .logo-wrap-detail-mobile{
    margin: .5em auto;
  }
  #filterBubble {
    background: #f10909;
    border-radius: 50%;
    z-index: 1;
    height: 1em;
    width: 1em;
    position: absolute;
    right: 0%;
  }
}
@media only screen and (max-width : 700px) {
  p {
    font-size: 1.5em;
  }
  .splash h1 {
    font-size: 1.5em;
  }
  .splash h3 {
    font-size: 1.3em;
  }
  .splash h6 {
    font-size: 1.2em;
  }
  .splash p {
    font-size: 1em;
  }
  .splash-head{
    flex: 1.5;
    max-width: 80%;
  }
  .splash-body{
    font-size: 1em;
  }

}
@media only screen and (max-width : 450px) {
  body {
    width: 100%;
    height:100%;
  }
  .btn{
    font-size: 1.8em;
  }
  .logo{
    width: 20vw;
    height: auto;
  }
  h3.logo{
    font-size: 1.5em;
  }
  .detailMob .btn{
    padding: .5em;
    margin: auto;
  }
  .splash{
    overflow: scroll;
  }
  .splash-body {
    font-size: 1.5em;
    flex: 2;
  }
  .splash-head{
    flex: 0.8;
  }
  .splash-button-wrap{
    flex: 0.5;
  }
  .splash h1 {
    font-size: 1.5em;
  }
  .splash h3 {
    font-size: 1.3em;
  }
  .splash h6 {
    font-size: 1.2em;
  }
  .splash .btn {
    font-size: 1em;
  }
  .beta-banner {
    border-width: 75px 75px 0 0;
  }
  .beta-text{
    transform: translate(5px, -63px) rotate(-45deg);
  }
}
@media only screen and (max-width: 350px) {
  body{
    font-size: 0.5em;
  }
  .splash-head, .splash-body, .splash-button-wrap {
    display: block;
  }
  .splash-head, .splash-button-wrap {
    margin: 1em auto;
  }
  .tglview {
    margin: 0.5em;
  } 
  #MobileMapPopUp{
    margin: 0.6em;
  }
}
@media only screen 
  and (min-device-width: 350px) 
  and (max-device-width: 767px) 
  and (-webkit-min-device-pixel-ratio: 2){ 
    body{
      font-size: 0.5em;
    }
  
  .splash-head{
    flex: .5;
  }
 
  .splash-button-wrap {
    flex: 0.5;
  }
  .tglview {
    margin: 0.5em;
  } 
  #MobileMapPopUp{
    margin: 0.6em;
  }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) { 
    body{
      font-size: 0.75em;
    } 
  .splash-body{
    font-size: 1.5em;
  }
  .splash h6{ 
    font-size: 1.8em;
  } 
  .splash .btn {
    font-size: 2em;
  }
}
